DATABASE_URL="sqlite:///db.sqlite3"
TIME_ZONE="Asian/Seoul"
JOPLIN_URL="http://127.0.0.1"
JOPLIN_PORT=41184
JOPLIN_TOKEN="TOBEDEFINED"
FORMAT_FROM="markdown_github"
FORMAT_TO="html"
BYPASS_BOZO=True

MASTODON_USERNAME=""
MASTODON_PASSWORD=""
MASTODON_INSTANCE=""

REDDIT_CLIENT_ID=""
REDDIT_CLIENT_SECRET=""
REDDIT_PASSWORD=""
REDDIT_USERAGENT="Yeoboseyo/1.0 +https://github.com/foxmask/yeoboseyo"
REDDIT_USERNAME=""

EMAIL_SERVER="localhost"
EMAIL_SENDER="root"
EMAIL_RECEIVER=""

MY_NOTES_FOLDER="/home/user/MyNotes"
